.navbar {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.header {
    background: #000;
    height: 100vh;
}

.back_img {
    width: 100%;
}

.Img_div {
    width: 80%;
    margin: auto;
}