.header_pr {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.Main_pr {
    width: 50%;
    background: #878787;
    border-radius: 90px;
    display: flex;
    height: 170px;
    overflow: hidden;
    padding: 10px;
}

.Mini_pr {
    width: 30%;
    background: #3E3E3E;
    border-radius: 10px;
    margin-left: 10px;
    height: 170px;
    overflow: hidden;
    padding: 10px;
}

.texts2_pr {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.texts_pr {
    margin-left: 10px;
}

.Main_pr img {
    border-radius: 50%;
}

.texts_pr h1 {
    font-size: 30px;
    line-height: 0.5;
    color: white;
}

.texts_pr h1:nth-child(2) {
    color: #ffffff8c;
}

.texts2_pr p {
    color: #ffffff8c;
    border-bottom: 1px solid;
    font-family: 'Courier New', Courier, monospace;
}

.texts2_pr p:nth-child(2) {
    margin-left: 10px;
}

.Mini_pr h1 {
    color: white;
    line-height: 0;
}

.Mini_pr img {
    width: 100%;
    height: 60px;
}

.texts3_pr {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.texts4_pr {
    display: flex;
    align-items: center;
}

.texts4_pr h3 {
    color: #878787;
}

.texts3_pr p {
    color: #878787;
}

.Image_div {
    height: 140px;
}

@media(max-width: 900px) {
    .Main_pr {
        /* height: 150px; */
    }

    .Mini_pr {
        width: 40%;
    }
}

@media(max-width: 854px) {
    .header_pr {
        flex-wrap: wrap;
    }

    .Main_pr {
        width: 100%;
        margin: 5px;
    }

    .Mini_pr {
        width: 100%;
        margin: 5px;
        margin-top: 10px;
    }
}

@media(max-width: 504px) {
    .texts_pr h1 {
        font-size: 25px;
    }

    .texts4_pr h1 {
        font-size: 25px;
    }

    .texts4_pr h3 {
        font-size: 15px;
    }
}

@media(max-width: 434px) {
    .Main_pr {
        width: 100%;
        flex-wrap: wrap;
        height: auto;
        text-align: center;
        border-radius: 20px;
    }

    .texts_pr {
        width: 100%;
        margin-top: 25px;
    }

    .Main_pr img {
        text-align: center;
    }

    .Image_div {
        margin: auto;
    }
}

.Portfolio_pr2,
.Portfolio_pr,
.Network_pr {
    width: 82%;
    margin: auto;
    background: #3E3E3E;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

.Network_pr h1 {
    color: white;
}

.cards_pr {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card_pr {
    /* width: 220px; */
    border-radius: 40px;
    display: flex;
    height: 45px;
    align-items: center;
    background: #ffffff4f;
    /* padding: 5px; */
    padding-right: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    margin-left: 10px;
    margin-top: 5px;
}

.card_pr img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.texts5_pr {
    width: 100%;
    margin-left: 5px;
    padding-right: 10px;
}

.texts5_pr p {
    line-height: 0;
    color: #3E3E3E;
}

.texts6_pr {
    display: flex;
    align-items: center;
}

.texts6_pr h1 {
    line-height: 0;
    font-weight: 100;
    font-size: 20px;
}

.texts6_pr p {
    font-size: 12px;
}

@media(max-width: 380px) {
    .card_pr {
        width: 100%;
    }

    .texts6_pr {
        display: flex;
        justify-content: space-between;
        width: 90%;
    }

    .texts5_pr {
        width: 90%;
    }
}

.p_text_pr {
    width: 14%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.portfolio_mini_pr {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
}

.portfolio_mini_div_pr {
    width: 35%;
    height: 550px;
    background: #fff;
    margin-top: -95px;
    border-radius: 10px;
    padding: 5px;
}

.portfolio_mini_div_pr2 {
    width: 35%;
    height: 550px;
    background: #fff;
    margin-top: -95px;
    border-radius: 10px;
    padding: 5px;
    /* margin-left: 10px; */
}

.mini_txt_pr {
    margin: auto;
}

.mini_txt_pr p {
    color: #878787;
    font-family: 'Courier New', Courier, monospace;
}

@media(max-width: 1150px) {
    .portfolio_mini_div_pr {
        width: 50%;
    }
}

@media(max-width: 820px) {
    .portfolio_mini_pr {
        flex-wrap: wrap;
    }

    .portfolio_mini_div_pr {
        margin-top: 0;
        width: 97%;
        margin-left: 0;
    }

    .mini_txt_pr {
        width: 100%;
    }
}

.card_pr:hover {
    cursor: pointer;
    background: #e9e9e99f;
}

.port_mni_pr {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.portfolio_mini_div_pr h1 {
    margin-left: 10px;
}

.portfolio_mini_div_pr input {
    width: 98%;
    height: 40px;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    font-size: 30px;
}

.portfolio_mini_div_pr p {
    line-height: 0;
}

.portfolio_mini_div_pr button {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background: #878787;
    margin: auto;
    border: none;
    cursor: pointer;
}

.porfolio_m_pr2 {
    display: flex;
    justify-content: space-between;
}

.portfolio_max_div_pr2 {
    width: 100%;
}

.inp_pr {
    width: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    padding-bottom: 10px;
}

.inp_pr input {
    width: 70%;
    height: 40px;
    border: none;
    border-bottom: 1px solid;
    background: none;
    outline: none;
    border-bottom: 1px solid #878787;
    padding-left: 45px;
}

.inp_pr p {
    color: #878787;
    border-bottom: 1px solid;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0px;
}

.close_icon {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #878787;
    font-size: 25px;
}

.portfolios_divs_pr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 60px;
    background: #878787;
    border-radius: 70px;
    margin-top: 10px;
    padding-right: 100px;
}

.div_pr {
    justify-content: start !important;
}

.text_portfol_pr p {
    line-height: 0;
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 13px;
    color: #3E3E3E;
}

.text_portfol_pr h1 {
    line-height: 0;
    font-size: 30px;
    color: white;
}


@media(max-width: 1498px) {
    .portfolios_divs_pr {
        width: 70%;
    }
}

@media(max-width: 1158px) {
    .inp_pr {
        width: 100%;
        flex-wrap: wrap;
    }

    .porfolio_m_pr2 {
        flex-wrap: wrap;
    }

    .portfolio_mini_div_pr2 {
        margin-top: 0;
        width: 100%;
        margin-top: 20px;
    }

    .portfolio_max_div_pr2 {
        min-height: 200px;
        max-height: 600px;
        overflow: hidden;
        overflow-y: scroll !important;
    }
}


.portfolio_mini_div_pr2 h1 {
    margin-left: 10px;
}

.portfolio_mini_div_pr2 input {
    width: 98%;
    height: 40px;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    font-size: 30px;
}

.portfolio_mini_div_pr2 p {
    line-height: 0;
}

.portfolio_mini_div_pr2 button {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background: #878787;
    margin: auto;
    border: none;
    cursor: pointer;
}

.tayanch_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    margin-left: 10;
}

@media(max-width: 814px) {
    .portfolios_divs_pr {
        width: 80%;
    }
    .Portfolio_pr {
        width: 90%;
    }
    .inp_pr input {
        width: 100%;
    }
}

@media(max-width: 570px) {
    .tayanch_div {
        width: 60%;
    }
    .text_portfol_pr {
        margin-left: 10px;
    }
    .portfolios_divs_pr input {
        width: 40%;
        margin-left: 45px;
    }
    .portfolios_divs_pr {
        width: 80%;
    }
    .portfolios_divs_pr p {
        margin-left: 0px;
    }
}

.Slider_range_pr {
    width: 40%;
    /* color: #3E3E3E; */
}

.nol_pr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    margin-left: 50px;
}

@media(max-width: 690px) {
    .Slider_range_pr {
        margin-left: 70px;
        /* margin-right: 20px; */
        width: 50%;
    }
}

@media(max-width: 600px) {
    .portfolios_divs_pr {
        flex-wrap: wrap;
    }
    .portfolios_divs_pr {
        height: auto;
        border-radius: 20px;
    }
    .nol_pr {
        width: 50%;
        height: 30px;
        margin: auto;
        padding-bottom: 10px;
    }
    .div_pr {
        width: 30% !important;
    }
    .text_portfol_pr {
        margin-left: 10px;
    }
}

@media(max-width: 560px){
    .div_pr h1{
        font-size: 20px;
    }
    .div_pr p {
        font-size: 10px;
    }
    .div_pr {
        width: 10% !important;
    }
    .portfolios_divs_pr {
        height: 70px;
    }
    .nol_pr h1 {
        font-size: 20px;
    }
    .nol_pr {
        margin-top: 0;
        height: 0;
    }
}

@media(max-width: 420px) {
    .Slider_range_pr {
        width: 90%;
        margin-left: 10px;
    }
    .portfolios_divs_pr{
        width: 98%;
        height: auto;
        padding-top: 5px;
        padding: 0;
        padding-top: 3px;
    }
    .nol_pr {
        margin: 0;
        margin-left: 10px;
        width: 20%;
        margin-top: 10px;
        margin-bottom: 5px;
    }
}

.Portfolio_pr2 {
    display: none;
}

.crypto_div {
    position: fixed;
    top: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.Cryp_div2 {
    background: linear-gradient(#BEBEBE, #E9E9E9);
    width: 100%;
    padding: 10px;
    /* position: relative; */
    /* border-radius: 10px; */
}

.Crypto {
    width: 30%;
    height: auto;
    max-height: 760px;
    overflow: hidden;
    overflow-y: scroll !important;
    /* padding-left: 30px; */
    padding-right: 25px;
    position: relative;
    border-radius: 10px;
}

.Crypto::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.Crypto::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  border-radius: 10px;
}
 
/* Handle */
.Crypto::-webkit-scrollbar-thumb {
  background: #878787; 
  border-radius: 10px;
}

/* Handle on hover */
.Crypto::-webkit-scrollbar-thumb:hover {
  background: gray; 
}

.bitcoin_pr {
    width: 65%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.bitcoin_pr img {
    margin-right: 10px;
}

.Cryp_div2 h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Cryp_div2 p{
    font-family: 'Courier New', Courier, monospace;
    color: #3E3E3E;
    font-weight: 500;
}

.image_bit {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image_bit h1 {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50px;
    text-align: center;
}

.You_reci {
    height: 0;
    line-height: 0;
}

.showMore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.line {
    width: 80%;
    border-bottom: 1px solid black;
}
.showMore p {
    color: black;
}

.rate_pr {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* align-items: center; */
}

.rate_mini p {
    height: 3px;
}

.confirm_swap {
    width: 100%;
    height: 70px;
    background: #000;
    color: white;
    font-size: 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.close_crypto {
    position: absolute;
    top: 20px;
    right: 10px;
    /* margin-left: 95%; */
    font-size: 40px;
    height: 20px;
    cursor: pointer;
}

.crypto_div {
    display: none;
    z-index: 9999;
}

@media(max-width: 1766px) {
    .bitcoin_pr {
        width: 70%;
    }
}

@media(max-width: 1650px) {
    .bitcoin_pr {
        width: 80%;
    }
}

@media(max-width: 1450px) {
    .Crypto {
        width: 40%;
    }
}

@media(max-width: 1090px){
    .Crypto {
        width: 45%;
    }
}

@media(max-width: 970px) {
    .Crypto {
        width: 50%;
    }
}

@media(max-width: 860px) {
    .Crypto {
        width: 60%;
    }
}

@media(max-width: 726px) {
    .Crypto {
        width: 65%;
        margin-top: 0;
        top: 0;
        height: 500px;
    }
    .crypto_div {
        top: 50px;
    }
    .bitcoin_pr h2{
        font-size: 20px;
    }
}

@media(max-width: 615px){
    .Crypto {
        width: 80%;
    }
}

@media(max-width: 500px) {
    .Crypto{
        width: 85%;
    }
}

@media(max-width: 475px) {
    .Cryp_div2 h2 {
        font-size: 17px;
    }
    .Cryp_div2 p{
        font-size: 10px;
    }
}

@media(max-width: 1300px) {
    .image_bit {
        width: 40%;
    }
}

@media(max-width: 1130px) {
    .image_bit {
        width: 45%;
    }
    .Crypto {
        top: 0;
        height: 600px;
    }
}

@media(max-width: 370px) {
    .image_bit {
        width: 50%;
    }
}