@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.header_pr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* padding-top: 100px; */
}

* {
    padding: 0;
    margin: 0;
}

.Main_pr {
    width: 60%;
    background: #878787;
    border-radius: 90px;
    display: flex;
    height: 170px;
    overflow: hidden;
    padding: 10px;
}

.blackk {
    padding: 20px;
    background-color: #000;
}

.Mini_pr {
    width: 36%;
    background: #3E3E3E;
    border-radius: 10px;
    margin-left: 10px;
    height: 170px;
    overflow: hidden;
    padding: 10px;
}

.texts2_pr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.texts_pr {
    margin-left: 10px;
}

.Main_pr img {
    border-radius: 50%;
}

.texts_pr h1 {
    line-height: 40px;
    font-size: 50px;
    color: white;
    font-weight: 500;
}

.texts_pr h2 {
    font-size: 40px;
    color: white;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.60);
}

.texts_pr h1:nth-child(2) {
    color: #ffffff8c;
}

.texts2_pr p {
    color: #fff;
    border-bottom: 1px solid;
    font-family: Space Mono;
    font-size: 16px;
}

.texts2_pr p:nth-child(2) {
    margin-left: 10px;
}

.Mini_pr h1 {
    color: #FFF;

    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
    /* 90% */
    text-transform: uppercase;
}

.Mini_pr h2 {
    color: #FFF;

    leading-trim: both;

    text-edge: cap;
    font-family: Gilroy;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 100% */
    text-transform: uppercase;
}

.Mini_pr img {
    width: 100%;
    height: 60px;
    margin-top: 25px;
}

.texts3_pr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.texts4_pr {
    display: flex;
    align-items: end;
}

.texts4_pr h3 {
    color: rgba(255, 255, 255, 0.60);

    leading-trim: both;

    text-edge: cap;
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 100% */
    text-transform: uppercase;
    margin-left: 10px;
}

.texts3_pr p {
    color: #878787;
}

.Image_div {
    height: 140px;
}

@media(max-width: 900px) {
    .Main_pr {
        /* height: 150px; */
    }

    .Mini_pr {
        width: 40%;
    }
}

@media(max-width: 854px) {
    .header_pr {
        flex-wrap: wrap;
    }

    .Main_pr {
        width: 100%;
        margin: 0px;
    }

    .Mini_pr {
        width: 100%;
        margin: 0px;
        margin-top: 10px;
    }
}

@media(max-width: 504px) {
    .texts_pr h1 {
        font-size: 25px;
    }

    .texts4_pr h1 {
        font-size: 25px;
    }

    .texts4_pr h3 {
        font-size: 15px;
    }
}

@media(max-width: 434px) {
    .Main_pr {
        width: 100%;
        flex-wrap: wrap;
        height: auto;
        text-align: center;
        border-radius: 20px;
    }

    .texts_pr {
        width: 100%;
        margin-top: 25px;
    }

    .Main_pr img {
        text-align: center;
    }

    .Image_div {
        margin: auto;
    }
}

.Portfolio_pr,
.Network_pr {
    margin: auto;
    border-radius: 30px;
    background: linear-gradient(241deg, #3E3E3E 15.17%, #252525 88.46%);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    padding-right: 10px;
    padding-top: 0;
}

.Portfolio_pr {
    padding-left: 0;
}

.Portfolio_pr2 {
    margin: auto;
    border-radius: 30px;
    background: linear-gradient(241deg, #3E3E3E 15.17%, #252525 88.46%);
    border-radius: 10px;
    margin-top: 20px;
}

.Network_pr h1 {
    color: white;
    font-size: 50px;
}

.cards_pr {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* .cards_pr:hover {
    background: #000;
    transition: 4s;
} */
.p_text_pr h1 {
    font-size: 50px;
}

.card_pr {
    /* width: 220px; */
    border-radius: 40px;
    display: flex;
    height: 60px;
    align-items: center;
    background: #464646;
    /* padding: 5px; */
    padding-right: 15px;
    padding-left: 7px;
    margin-right: 20px;
    margin-top: 20px;
}

.card_pr img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.texts5_pr {
    width: 100%;
    margin-left: 5px;
    padding-right: 10px;
}

.texts5_pr p {
    color: rgba(255, 255, 255, 0.60);
    font-size: 12px;
    font-weight: 400;
    font-family: Space Mono;
}

.texts6_pr {
    display: flex;
    align-items: end;
}

.texts6_pr h1 {
    font-weight: 500;
    font-size: 30px;
}

.texts6_pr p {
    font-size: 15px;
    margin-left: 10px;
}

@media(max-width: 380px) {
    .card_pr {
        width: 100%;
    }

    .texts6_pr {
        display: flex;
        justify-content: space-between;
        width: 90%;
    }

    .texts5_pr {
        width: 90%;
    }
}

.p_text_pr {
    width: 14%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-left: 20px;
    padding-top: 15px;
}

.portfolio_mini_pr {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
}

.portfolio_mini_div_pr {
    width: 35%;
    height: 550px;
    background: #fff;
    margin-top: -60px;
    border-radius: 10px;
    padding: 5px;
}

.portfolio_mini_div_pr2 {
    width: 50%;
    /* height: 550px; */
    background: #E9E9E9;
    margin-top: -42px;
    border-radius: 10px;
    padding: 17px;
    /* margin-left: 10px; */
}

.mini_txt_pr {
    margin: auto;
}

.mini_txt_pr p {
    color: #878787;
    font-family: 'Courier New', Courier, monospace;
}

@media(max-width: 1150px) {
    .portfolio_mini_div_pr {
        width: 50%;
    }
}

@media(max-width: 820px) {
    .portfolio_mini_pr {
        flex-wrap: wrap;
        width: 100%;
    }

    .Portfolio_pr,
    .Network_pr {
        padding: 15px;
    }

    .Mini_pr {
        width: 100%;
    }

    .Main_pr {
        width: 100%;
    }

    .navbar {
        margin: auto;
    }

    .portfolio_mini_pr {
        margin-left: 0;
    }

    .portfolio_mini_div_pr {
        margin-top: 0;
        width: 100%;
        margin-left: 0;
    }

    .mini_txt_pr {
        width: 100%;
    }
}

.card_pr:hover {
    cursor: pointer;
    background: linear-gradient(263deg, #E9E9E9 5.9%, #BFBFBF 93.59%);
    ;
}

.card_pr:hover .texts6_pr h1 {
    color: #000;
}

.card_pr:hover .texts5_pr p {
    color: rgba(0, 0, 0, 0.60);
}

.port_mni_pr {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.portfolio_mini_div_pr h1 {
    margin-left: 10px;
}

.portfolio_mini_div_pr input {
    width: 98%;
    height: 40px;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    font-size: 30px;
}

.portfolio_mini_div_pr p {
    line-height: 0;
}

.portfolio_mini_div_pr button {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background: #878787;
    margin: auto;
    border: none;
    cursor: pointer;
}

.porfolio_m_pr2 {
    display: flex;
    justify-content: space-between;
}


.portfolio_max_div_pr2 {
    width: 100%;
    padding-left: 20px;
}

.inp_pr {
    width: 97%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    padding-bottom: 10px;
}

.inp_pr input {
    width: 70%;
    height: 40px;
    border: none;
    border-bottom: 1px solid;
    background: none;
    outline: none;
    border-bottom: 1px solid #FFFFFF99;
    padding-left: 45px;
    color: #FFFFFF99;
}

.inp_pr p {
    color: #878787;
    border-bottom: 1px solid;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0px;
    width: 20%;
    margin-left: 10px;
}

.close_icon {
    position: absolute;
    top: 7%;
    left: 10px;
    color: #878787;
    font-size: 25px;
}

.portfolios_divs_pr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 88%;
    height: 60px;
    background: #464646;
    border-radius: 70px;
    margin-top: 15px;
    padding-right: 100px;
}

.div_pr {
    justify-content: start;
    width: 23%;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.div_pr .text_portfol_pr p {
    /* line-height: 0; */
    /* margin-top: 15px; */
    /* margin-bottom: 0; */
    font-size: 13px;
    color: #FFFFFF99;
}

.text_portfol_pr h1 {
    line-height: 1;
    font-size: 30px;
    color: white;
}

.text_portfol_pr {
    margin-left: 5px;
}


@media(max-width: 1498px) {
    .portfolios_divs_pr {
        width: 85%;
    }
}

@media(max-width: 1158px) {
    .inp_pr {
        width: 100%;
        flex-wrap: wrap;
    }

    .porfolio_m_pr2 {
        flex-wrap: wrap;
    }

    .portfolio_mini_div_pr2 {
        margin-top: 0;
        width: 100%;
        margin-top: 20px;
    }

    .portfolio_max_div_pr2 {
        min-height: 200px;
        max-height: 600px;
        overflow: hidden;
        overflow-y: scroll !important;
    }
}


.portfolio_mini_div_pr2 h1 {
    font-size: 50px;
    font-weight: 500;
}

.portfolio_mini_div_pr2 input {
    width: 98%;
    height: 40px;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    font-size: 30px;
    background-color: #E9E9E9;
}

.portfolio_mini_div_pr2 p {
    margin-top: 15px;
    color: #00000099;
    font-size: 16px;
    font-weight: 400;
    font-family: Space Mono;
}

.portfolio_mini_div_pr2 button {
    width: 100%;
    height: 120px;
    border-radius: 10px;
    background: #0000004D;
    margin: auto;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}

.tayanch_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    margin-left: 10;
}

@media(max-width: 814px) {
    .portfolios_divs_pr {
        width: 80%;
    }


    .inp_pr input {
        width: 100%;
    }
}

@media(max-width: 570px) {
    .tayanch_div {
        width: 60%;
    }

    .text_portfol_pr {
        margin-left: 10px;
    }

    .portfolios_divs_pr input {
        width: 40%;
        margin-left: 45px;
    }

    .portfolios_divs_pr {
        width: 80%;
    }

    .portfolios_divs_pr p {
        margin-left: 0px;
    }
}

.Slider_range_pr {
    width: 35%;
    margin-left: 10px;
    /* color: #3E3E3E; */
}

.nol_pr p {
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    line-height: 15px;
}

.nol_pr {
    display: flex;
    align-items: end;
    width: 20%;
    margin-left: 50px;
}

@media(max-width: 690px) {
    .Slider_range_pr {
        margin-left: 70px;
        /* margin-right: 20px; */
        width: 50%;
    }
}

.nol_pr h1 {
    margin-left: 25px;
    font-size: 30px;
    color: #FFFFFF66;
    font-weight: 500;
}

@media(max-width: 600px) {
    .portfolios_divs_pr {
        flex-wrap: wrap;
    }

    .portfolios_divs_pr {
        height: auto;
        border-radius: 20px;
    }

    .nol_pr {
        width: 50%;
        height: 30px;
        margin: auto;
        padding-bottom: 10px;
    }

    .div_pr {
        width: 30% !important;
    }

    .text_portfol_pr {
        margin-left: 10px;
    }
}

@media(max-width: 560px) {
    .div_pr h1 {
        font-size: 20px;
    }

    .div_pr p {
        font-size: 10px;
    }

    .div_pr {
        width: 10% !important;
    }

    .portfolios_divs_pr {
        height: 75px;
    }

    .nol_pr h1 {
        font-size: 20px;
    }

    .nol_pr {
        margin-top: 10px;
        height: 0;
    }
}

@media(max-width: 420px) {
    .Slider_range_pr {
        width: 90%;
        margin-left: 10px;
    }

    .portfolios_divs_pr {
        width: 98%;
        height: auto;
        padding-top: 5px;
        padding: 0;
        padding-top: 3px;
    }

    .nol_pr {
        margin: 0;
        margin-left: 10px;
        width: 40%;
        margin-top: 10px;
        margin-bottom: 5px;
    }
}

.Portfolio_pr2 {
    display: none;
}

.crypto_div {
    position: fixed;
    top: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.Cryp_div2 {
    background: linear-gradient(#BEBEBE, #E9E9E9);
    width: 100%;
    padding: 10px;
    /* position: relative; */
    /* border-radius: 10px; */
}

.Crypto {
    width: 30%;
    height: auto;
    max-height: 560px;
    overflow: hidden;
    overflow-y: scroll !important;
    /* padding-left: 30px; */
    padding-right: 25px;
    position: relative;
    border-radius: 10px;
}

.Crypto::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.Crypto::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    border-radius: 10px;
}

/* Handle */
.Crypto::-webkit-scrollbar-thumb {
    background: #878787;
    border-radius: 10px;
}

/* Handle on hover */
.Crypto::-webkit-scrollbar-thumb:hover {
    background: gray;
}

.bitcoin_pr {
    width: 65%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
}

.bitcoin_pr img {
    margin-right: 10px;
}

.Cryp_div2 h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Cryp_div2 p {
    font-family: 'Courier New', Courier, monospace;
    color: #3E3E3E;
    font-weight: 500;
}

.image_bit {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image_bit h1 {
    width: 50px;
    height: 40px;
    background: #fff;
    border-radius: 50px;
    text-align: center;
}


.showMore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.line {
    width: 80%;
    border-bottom: 1px solid black;
}

.showMore p {
    color: black;
}

.rate_pr {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* align-items: center; */
}

.rate_mini p {
    /* height: 3px; */
}

.confirm_swap {
    width: 100%;
    height: 70px;
    background: #000;
    color: white;
    font-size: 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.close_crypto {
    position: absolute;
    top: 20px;
    right: 10px;
    /* margin-left: 95%; */
    font-size: 40px;
    height: 20px;
    cursor: pointer;
}

.crypto_div {
    display: none;
    z-index: 9999;
}

@media(max-width: 1766px) {
    .bitcoin_pr {
        width: 70%;
    }
}

@media(max-width: 1650px) {
    .bitcoin_pr {
        width: 80%;
    }
}

@media(max-width: 1450px) {
    .Crypto {
        width: 40%;
    }
}

@media(max-width: 1090px) {
    .Crypto {
        width: 45%;
    }
}

@media(max-width: 970px) {
    .Crypto {
        width: 50%;
    }
}

@media(max-width: 860px) {
    .Crypto {
        width: 60%;
    }
}

@media(max-width: 726px) {
    .Crypto {
        width: 65%;
        margin-top: 0;
        top: 0;
        height: 500px;
    }

    .crypto_div {
        top: 50px;
    }

    .bitcoin_pr h2 {
        font-size: 20px;
    }
}

@media(max-width: 615px) {
    .Crypto {
        width: 80%;
    }
}

@media(max-width: 500px) {
    .Crypto {
        width: 85%;
    }
}

@media(max-width: 475px) {
    .Cryp_div2 h2 {
        font-size: 17px;
    }

    .Cryp_div2 p {
        font-size: 10px;
    }

    .confirm_swap {
        font-size: 20px;
    }

    .Crypto {
        height: 500px !important;
    }
}

@media(max-width: 1300px) {
    .image_bit {
        width: 40%;
    }
}

@media(max-width: 1130px) {
    .image_bit {
        width: 45%;
    }

    .Crypto {
        top: 0;
        height: 600px;
    }
}

@media(max-width: 370px) {
    .image_bit {
        width: 50%;
    }

    .Mini_pr h1 {
        font-size: 20px;
    }

    .texts4_pr h2 {
        font-size: 25px;
    }

    .texts4_pr h3 {
        font-size: 15px;
    }

    .bitcoin_pr {
        width: 100%;
    }

    .texts_pr h2 {
        font-size: 20px;
    }

    .texts2_pr p {
        font-size: 10px;
    }

    .Network_pr h1 {
        font-size: 25px;
    }

    .p_text_pr h1 {
        font-size: 25px;
    }

    .p_text_pr {
        padding-left: 0;
        padding-top: 0;
    }

    .Portfolio_pr {
        width: 90% !important;
    }

    .Portfolio_pr2 {
        width: 100% !important;
    }

    .p_text_pr {
        margin: 3px;
    }

    .inp_pr {
        width: 100%;
    }

    .portfolio_max_div_pr2 {
        padding-left: 0;
        /* margin-left: 0; */
        padding: 3px;
    }

    .inp_pr p {
        /* margin-top: 10px; */
        font-size: 13px;
    }

    .text_portfol_pr {
        width: 100% !important;
    }
}


@media(max-width: 739px) {
    .Crypto {
        top: 0;
        height: 500px;
    }
}

@media(max-width: 700px) {

    .inp_pr p {
        width: 40%;
    }
}

@media(max-width: 360px) {
    .porfolio_m_pr2 {
        width: 100%;
    }

    .Portfolio_pr2 {
        width: 95%;
    }
}

@media(max-width: 430px) {
    .portfolio_mini_div_pr {
        width: 100%;
    }

    .portfolio_mini_pr {
        margin-left: 0;
        padding: 0 !important;
    }

    .Portfolio_pr {
        width: 83%;
    }
}

@media(max-width: 400px) {
    .Crypto {
        height: 700px !important;
        max-height: 700px !important;
    }
}